@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.wrapper {
  background: #abc;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Meiryo", "メイリオ", Myriad, Helvetica, Arial, sans-serif;
}
.wrapper * {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.wrapper {
  min-width: 910px;
}

.square-f0001 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2800px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0002 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2850px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0003 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2700px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0004 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2550px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0005 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2500px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0006 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2350px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0007 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2100px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0008 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2200px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0009 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1950px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0010 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1300px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0011 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1750px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0012 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1350px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0013 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1400px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0014 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2150px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0015 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1700px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0016 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1550px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0017 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -900px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0018 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1000px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0019 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1050px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0020 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -650px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0021 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1250px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0022 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -750px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0023 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -600px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0024 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -500px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0025 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -200px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0026 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -950px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0027 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -300px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0028 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -150px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0029 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 0;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0030 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1200px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0031 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -50px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0032 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -250px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0033 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -100px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0034 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2250px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0035 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -400px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0036 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -350px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0037 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -450px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0038 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -700px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0039 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1800px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0040 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -800px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0041 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1100px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0042 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -550px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0043 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -850px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0044 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1150px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0045 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2650px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0046 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1650px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0047 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1900px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0048 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1500px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0049 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1850px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0050 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1600px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0051 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -1450px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0052 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2000px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0053 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2050px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0054 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2300px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0055 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2400px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0056 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2450px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0057 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2600px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0058 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2750px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0059 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2900px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.square-f0060 {
  background: url('../img/square-s728b1e5c45.png?1400946608') no-repeat;
  background-repeat: none;
  background-position: 0 -2950px;
  -webkit-background-size: 50px, 3000px;
  -moz-background-size: 50px, 3000px;
  -o-background-size: 50px, 3000px;
  background-size: 50px, 3000px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}
